@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.<i class="octicon octicon-alert"></i></p>
<a href="@Url.Action("Action", "Controller")" class="btn btn-warning">
    link text
    <span class="glyphicon glyphicon-plus-sign" />
</a>
